<h1>Add Author</h1>

<%= form_for @changeset, Routes.author_path(@conn, :create), [class: "new"], fn f -> %>
  <%= label f, :name %>
  <%= error_tag f, :name %>
  <%= text_input f, :name %>

  <%= submit "Submit" %>
<% end %>
