/* Variables */

:root {
    --text: black;
    --text-inverted: white;
    --bg: #fdfdfd;
    --secondary: darkslategray;
    --secondary-light: lightgray;
    --secondary-text: #2d2d2d;
    --accent: #483d8b;
    --accent-dark: #342c66;
    --rad: .3rem;
    --error: #f03434;
}

/* Main Content */

body {
    background-color: var(--bg);
}

hr {
    padding: 0;
    margin: 0.3rem 0;
}

main.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font: 1rem 'Fira Sans', sans-serif;
}

nav {
    font-size: 2rem;
    padding-top: 0.75rem;
    padding-bottom: 0.5rem;
}

/* Alerts */

.alert {
    position: absolute;
    right: 2rem;
    bottom: 1rem;
    padding: 1rem;
    border-radius: var(--rad);
}

.alert:empty {
    display: none;
}

.alert-info {
    background-color: #2196F3;
    opacity: 0.9;
}

.alert-danger {
    background-color: var(--error);
}

.invalid-feedback {
    color: var(--error);
}

/* Links */

a, a:visited, a:hover {
    text-decoration: none;
    color: inherit;
}

a:visited, a:hover {
    border-bottom: 2px dotted var(--secondary);
}

/* Headers */

h1 {
    font-size: 2rem;
    font-weight: normal;
}

h2 {
    font-size: 1.75rem;
}

h3 {
    font-size: 1.15rem;
    font-weight: normal;
}

/* Lists */

dt, li {
    font-weight: bold;
}

dd {
    margin-bottom: 1em;
}

dl, ul {
    padding: 0;
    margin: 0;
}

li {
    list-style-type: none;
    margin-bottom: 0.3em;
}

/* Poem Styling */

article.poem {
    max-width: 95vw;
}

h2.title {
    margin-bottom: 0;
}

h3.author::before {
    content: "by ";
    font-style: italic;
}

h3.author {
    margin-top: 0;
}

blockquote {
    font-style: italic;
    margin-left: 1em;
}

pre {
    white-space: pre;
    font-family: 'Droid Serif', serif;
    line-height: 1.4;
    margin: 1em 0;
    font-size-adjust: inherit;
}

.blue {
    color: blue;
}

/* New Poem/Author Form */

form.new {
    width: 50rem;
    max-width: 90%;
}

form.new label {
    font-size: 1.2rem;
}

form.new span.deemphasize {
    color: var(--secondary);
    opacity: 0.9;
    font-size: 1rem;
}

form.new select, form.new input[type=text], form.new textarea {
    width: 100%;
    padding: 1.2em 2em;
    margin: 0.5em 0;
    border: 1px solid #ccc;
    border-radius: var(--rad);
    box-sizing: border-box;
}

form.new textarea {
    height: 35vh;
}

form.new button[type="submit"] {
    width: 100%;
    background-color: var(--accent);
    color: var(--text-inverted);
    padding: 1.2em 2em;
    margin: 0.5em 0;
    border: none;
    border-radius: var(--rad);
    cursor: pointer;
}

/* Search form */

form.search {
    position: relative;
    margin: 0 0 .3rem 0;
    padding: 0;
}

form.search input, form.search button {
    height: 2rem;
    border: 0;
    font-size: 1rem;
}

form.search input[type=search] {
    appearance: none;
    outline-width: thin;
    width: calc(100% - 3rem);
    background: var(--secondary-light);
    padding: 0 0.5rem;
    border-radius: var(--rad) 0 0 var(--rad);
    position: relative;
    color: var(--secondary-text);
}

form.search button[type="submit"] {
    position: absolute;
    bottom: 0;
    right: 0;
    font-family: ddg-serp-icons;
    background: var(--accent);
    width: 3rem;
    border-radius: 0 var(--rad) var(--rad) 0;
    cursor: pointer;
    color: var(--text-inverted);
    transition: all .15s ease-in;
    transition-property: background;
}

form.search button[type="submit"]:hover {
    background: var(--accent-dark);
}
