/* Defines 'Fira Sans' and 'Droid Serif' */
@import "font.css";

/* Variables */
:root {
    --text: black;
    --text-inverted: white;
    --bg: #fdfdfd;
    --secondary: #444;
    --border: #ccc;
    --accent: darkslateblue;
}

/* Main Content */
body {
    background-color: var(--bg);
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    font: 1rem 'Fira Sans', sans-serif;
}

nav {
    font-size: 2rem;
    padding-top: 0.75rem;
    padding-bottom: 0.5rem;
}

/* Links */

a, a:visited, a:hover {
    text-decoration: none;
    color: inherit;
}

a:visited, a:hover {
    border-bottom: 2px dotted var(--secondary);
}

/* Headers */

h1 {
    font-size: 2rem;
    font-weight: normal;
}

h2 {
    font-size: 1.75rem;
}

h3 {
    font-size: 1.15rem;
    font-weight: normal;
}

/* Lists */

dt, li {
    font-weight: bold;
}

dd {
    margin-bottom: 1em;
}

ul {
    padding: 0;
    margin: 0;
}

li {
    list-style-type: none;
}

/* Poem Styling */
.author::before {
    content: "by ";
    font-style: italic;
}

.title {
    margin-bottom: 0;
}

.author {
    margin-top: 0;
}

blockquote {
    font-style: italic;
    margin-left: 1em;
}

pre {
    white-space: pre;
    font-family: 'Droid Serif';
    line-height: 1.4;
    margin: 1em 0;
    font-size-adjust: inherit;
}

/* Forms */
form {
    width: 50rem;
    max-width: 90%;
}

form label {
    font-size: 1.2rem;
}

form span.deemphasize {
    color: var(--secondary); 
    opacity: 0.9;
    font-size: 1rem;
}

form input[type=text], 
form select,
form textarea {
    width: 100%;
    padding: 1.2em 2em;
    margin: 0.5em 0;
    border: 1px solid var(--border);
    border-radius: 4px;
    box-sizing: border-box;
}

form textarea {
    height: 35vh;
}

form button[type="submit"] {
    width: 100%;
    background-color: var(--accent);
    color: var(--text-inverted);
    padding: 1.2em 2em;
    margin: 0.5em 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
