.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    font: 1rem 'Fira Sans', sans-serif;
}

.bold {
    font-weight: bold;
}

nav {
    font-size: 2rem;
    padding-top: 0.75rem;
    padding-bottom: 0.5rem;
}

/* Links */

a, a:visited, a:hover {
    text-decoration: none;
    color: inherit;
}

a:visited, a:hover {
    border-bottom: 2px dotted #444444;
}

/* Headers */

h1 {
    font-size: 2rem;
    font-weight: normal;
}

h2 {
    font-size: 1.75rem;
}

h3 {
    font-size: 1.15rem;
    font-weight: normal;
}

/* Lists */

dt {
    font-weight: bold;
}

dd {
    margin-bottom: 1em;
}

/* Poem Styling */
.author::before {
    content: "by ";
    font-style: italic;
}

.title {
    margin-bottom: 0;
}

.author {
    margin-top: 0;
}

.epigraph {
    font-style: italic;
    padding-left: 1em;
}

.content {
    white-space: pre;
}
