/* Poem Styling */
.author::before {
    content: "by ";
    font-style: italic;
}

.title {
    margin-bottom: 0;
}

.author {
    margin-top: 0;
}

.epigraph {
    font-style: italic;
    padding-left: 1em;
}

.content {
    white-space: pre;
}