<nav>
    <b>Poems</b> - <a href="/authors">Authors</a>
    <hr>
</nav>
<dl>
<%= for poem <- @poems do %>
    <dt>
      <a href="<%= Router.poem_id_to_url(poem.id) %>">
        <%= poem.title %>
      </a>
    </dt>
    <dd>
      by
      <a href="<%= Router.author_id_to_url(poem.author.id) %>">
        <%= poem.author.name %>
      </a>
    </dd>
<% end %>
</dl>
