<nav>
  <b>Poems</b> - <%= link "Authors", to: Routes.author_page_path(@conn, :index) %>
  <hr>
</nav>

<dl role="list">
<%= for poem <- @poems do %>
  <dt>
    <%= link poem.title, to: Routes.poem_page_path(@conn, :show, poem.id) %>
  </dt>
  <dd>
    by
    <%= link poem.author.name, to: Routes.author_page_path(@conn, :show, poem.author.id) %>
  </dd>
<% end %>
</dl>
