<nav>
    <%= link "Poems", to: Routes.poem_page_path(@conn, :index) %> - <b>Authors</b>
    <hr>
</nav>
<ul>
<%= for author <- @authors do %>
    <li>
      <%= link author.name, to: Routes.author_page_path(@conn, :show, author.id) %>
    </li>
<% end %>
</ul>
