<nav>
    <a href="/poems">Poems</a> - <b>Authors</b>
    <hr>
</nav>
<dl>
<%= for author <- @authors do %>
    <dt>
      <a href="<%= Router.author_id_to_url(author.id) %>">
        <%= author.name %>
    </dt>
<% end %>
</dl>
