<h1>Add Author</h1>

<%= form_for @changeset, Routes.author_page_path(@conn, :create), fn f -> %>
  <label for="author_name">Name:</label>
  <%= text_input f, :name %>

  <%= submit "Submit" %>
<% end %>
