<dl>
<%= for poem <- @poems do %>
    <dt>
      <a href="<%= poem_id_to_url(poem.id) %>">
        <%= poem.title %>
      </a>
    </dt>
    <%= if @show_author do %>
    <dd>
      by
      <a href="<%= author_id_to_url(poem.author.id) %>">
        <%= poem.author.name %>
    </dd>
    <% end %>
<% end %>
</dl>
