<div id="root"><a href="/">/</a></div>
<article>
    <header>
        <h2 class="title"><%= @poem.title %></h2>
        <h3 class="author">
            <a href="<%= author_id_to_url(@poem.author.id) %>">
                <%= @poem.author.name %>
            </a>
        </h3>
    </header>

    <%= if true do %>
    <section class="epigraph">
        <%= @poem.epigraph %>
    </section>
    <% end %>

    <section class="content">
        <%= @poem.content %>
    </section>
</article>
